.services {
    background-color: #F0EFE9;
    padding: 100px 200px;
    display: flex;
    padding-left: 300px;
  }
  .services div p {
    font-size: 14px;
    color: #F94D1C;
    font-weight: 400;
  }
  .services div h3 {
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 22px;
  }
  .services div div {
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
  }
  @media (min-width: 768px) {
    .services div div {
      grid-template-columns: 1fr 1fr;
    }
  }
  .services div div .item {
    margin-right: 24px;
    display: flex;
    flex-direction: column;
    height: 17rem;
    width: 17rem;
    background-color: #FFFFFF;
    padding: 17px 20px;
    position: relative;
  }
  .services div div .item .thin-line {
    height: 2px;
    background-color: #000;
    width: 2rem;
    margin: 20px 0;
  }
  .services div div .item h4 {
    font-size: 20px;
    font-weight: 700;
    margin-top: 0.7rem;
  }
  .services div div .item p {
    color: rgba(25, 25, 25, 0.6980392157);
    font-size: 13px;
    font-weight: 500;
    margin-top: 0.5rem;
    line-height: 1.6;
  }
  .services div div .item span {
    position: absolute;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #191919;
    color: #fff;
    right: 22px;
    bottom: 35px;
  }
  .services div div .item span i {
    font-size: 0.8rem;
  }
  .services div div .item:hover {
    background-color: #F9D783;
  }
  .services div div .item:hover p {
    color: #444;
  }
  .services div div .item:hover span {
    background-color: #fff;
    color: #000;
  }
  .services div a {
    background-color: transparent;
    border: 1px solid #191919;
    color: #191919;
    text-decoration: none;
    width: 20%;
    padding: 10px 10px;
    font-weight: 300;
    font-size: 16px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
  }
  .services div a i {
    margin-left: 8px;
    font-size: 10PX;
    transform: rotate(-45deg);
  }
  .services div a:hover {
    background-color: #F0D082;
  }
  