@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,300;9..40,400;9..40,500;9..40,600;9..40,700;9..40,900&family=Inter:wght@300;400;500;700;900&display=swap");

html, body {
  color: #191919;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
}

.btn {
  background-color: #F9D783;
  border: 1px solid #F9D783;
  color: #191919;
  text-decoration: none;
  padding: 12px 25px;
  font-weight: 600;
  font-size: 15px;
  border-radius: 25px;
}
.btn i {
  margin-left: 8px;
  font-size: 0.9em;
}
.btn:hover {
  background-color: #191919;
  border: 1px solid #191919;
  color: #e9e9e9;
}

.btn-transparent {
  background-color: transparent;
  border: 1px solid #191919;
  color: #191919;
  text-decoration: none;
  padding: 12px 25px;
  font-weight: 600;
  font-size: 15px;
  border-radius: 25px;
}
.btn-transparent i {
  margin-left: 8px;
  font-size: 0.9em;
}
.btn-transparent:hover {
  background-color: #191919;
  border: 1px solid #191919;
  color: #e9e9e9;
}

main {
  flex: 1;
}

.project-and-case .container {
  padding-top: 30px;
}
.project-and-case .container .section-title {
  text-align: center;
}
.project-and-case .container .project-and-cases {
  display: grid;
  grid-template-columns: 1fr;
  gap: 30px;
}
@media (min-width: 768px) {
  .project-and-case .container .project-and-cases {
    grid-template-columns: 1fr 1fr;
  }
}
.project-and-case .container .project-and-cases article {
  padding-bottom: 50px;
}
.project-and-case .container .project-and-cases article img {
  width: 100%;
  height: auto;
}
.project-and-case .container .project-and-cases article h3 {
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 22px;
  padding-top: 35px;
  padding-bottom: 16px;
  border-bottom: solid #dad9d3;
}
.project-and-case .container .project-and-cases article a {
  padding: 15px;
  display: block;
  font-family: "Inter", sans-serif;
  text-align: right;
  font-size: 18px;
  font-weight: 500;
  text-decoration: none;
  border: none;
  color: #191919;
}
.project-and-case .container .project-and-cases article a i {
  transform: rotate(-45deg);
  padding-left: 10px;
  padding-bottom: 10px;
}
.project-and-case .container .a-link a {
  margin-top: 100px;
  background-color: #191919;
  border: 1px solid #191919;
  color: #FFFFFF;
  text-decoration: none;
  width: 20%;
  padding: 10px 10px;
  font-weight: 300;
  font-size: 14px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  margin: auto;
  gap: 10px;
}
.project-and-case .container .a-link a i {
  transform: rotate(-45deg);
  bottom: 10px;
}
.project-and-case .container .a-link a:hover {
  background-color: #F9D783;
  border: 1px solid #F9D783;
  color: #000;
}

.team-testimonials {
  background-color: #F0D082;
  margin-top: 30px;
  width: 100%;
  padding: 70px 0rem;
}
.team-testimonials .team {
  width: 50%;
  margin: auto;
}
.team-testimonials .team .team-top {
  display: flex;
  justify-content: space-between;
}
.team-testimonials .team .team-top .team-top-left p {
  font-size: 14px;
  color: #F94D1C;
  font-weight: 400;
}
.team-testimonials .team .team-top .team-top-left h2 {
  font-size: 32px;
  font-weight: 800;
  margin-bottom: 22px;
}
.team-testimonials .team .team-top .team-top-right a {
  background-color: #F9D783;
  border: 1px solid #191919;
  color: #191919;
  text-decoration: none;
  padding: 10px 25px;
  font-weight: 300;
  font-size: 14px;
  border-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 40PX;
}
.team-testimonials .team .team-top .team-top-right a i {
  margin-left: 8px;
  font-size: 16PX;
  transform: rotate(-45deg);
}
.team-testimonials .team .team-bottom .members {
  display: flex;
  gap: 15px;
  align-items: center;
  margin-top: 3.3rem;
}
.team-testimonials .team .team-bottom .members .member img {
  height: 320px;
  width: 250px;
}
.team-testimonials .team .team-bottom .members .member h4 {
  font-size: 16px;
  font-weight: 800;
  margin-top: 2rem;
}
.team-testimonials .team .team-bottom .members .member p {
  font-size: 13px;
  font-weight: 400;
  color: #6e5a28;
}
.team-testimonials .team .team-bottom span {
  display: flex;
  gap: 10px;
  justify-content: center;
  margin-top: 1.2rem;
}
.team-testimonials .team .team-bottom span .dot {
  height: 0.6rem;
  width: 0.6rem;
  border-radius: 50%;
  background-color: #191919;
  opacity: 0.3;
}
.team-testimonials .team .team-bottom span .dot:nth-child(2) {
  opacity: 2;
}
.team-testimonials .WhatOurClientSays {
  width: 75%;
  background-color: #fff;
  margin: 0 auto;
  padding: 6rem 5rem;
  margin-top: 3.2rem;
}
.team-testimonials .WhatOurClientSays p {
  font-size: 14px;
  color: rgb(240, 24, 24);
  font-weight: 400;
  text-align: center;
}
.team-testimonials .WhatOurClientSays h2 {
  font-size: 35px;
  font-weight: 800;
  text-align: center;
  margin-bottom: 3rem;
}
.team-testimonials .WhatOurClientSays .wrapper {
  max-width: 1200px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.team-testimonials .WhatOurClientSays .wrapper .box {
  background: white;
  width: 290px;
  padding: 25px;
}
.team-testimonials .WhatOurClientSays .wrapper .box .stars {
  margin-top: 2px;
  color: #F94D1C;
  margin-bottom: 10px;
}
.team-testimonials .WhatOurClientSays .wrapper .box p {
  text-align: left;
  color: #191919;
  font-weight: 300;
}
.team-testimonials .WhatOurClientSays .wrapper .box .content {
  display: flex;
  align-items: center;
  padding-top: 10px;
}
.team-testimonials .WhatOurClientSays .wrapper .box .content .image {
  height: 75px;
  width: 75px;
  padding: 3px;
}
.team-testimonials .WhatOurClientSays .wrapper .box .content .image img {
  position: absolute;
  width: 70px;
  height: 70px;
  border-color: #ffffff;
  border-width: 2px;
  border-style: solid;
}
.team-testimonials .WhatOurClientSays .wrapper .box .content .info h4 {
  font-size: 16px;
  font-weight: 700;
}
.team-testimonials .WhatOurClientSays .wrapper .box .content .info p {
  color: #F94D1C;
  font-size: 12px;
  font-weight: 500;
}
@media (max-width: 1045px) {
  .team-testimonials .WhatOurClientSays .wrapper .box {
    width: calc(50% - 10px);
    margin: 10px 0;
  }
}
@media (max-width: 702px) {
  .team-testimonials .WhatOurClientSays .wrapper .box {
    width: 100%;
  }
}
.team-testimonials .WhatOurClientSays a {
  background-color: #191919;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  text-decoration: none;
  padding: 10px 25px;
  font-size: 16px;
  border-radius: 25px;
  margin-top: 2rem;
  margin-left: 550px;
  width: 10rem;
}
.team-testimonials .WhatOurClientSays a i {
  margin-left: 8px;
  font-size: 0.7em;
  transform: rotate(-45deg);
}
.team-testimonials .WhatOurClientSays a:hover {
  background-color: #F9D783;
  border: 1px solid #F9D783;
  color: #000;
}

.articles {
  width: 70%;
  margin: 0 auto;
  margin-top: 5.6rem;
  text-align: left;
}
.articles .article-top {
  display: flex;
  justify-content: space-between;
}
.articles .article-top .article-top-left p {
  font-size: 14px;
  color: rgb(240, 24, 24);
  font-weight: 400;
}
.articles .article-top .article-top-left h2 {
  font-size: 36px;
  font-weight: 800;
  margin-bottom: 22px;
}
.articles .article-top .article-top-right a {
  background-color: #fff;
  border: 1px solid #000;
  color: #191919;
  text-decoration: none;
  padding: 10px 25px;
  font-weight: 300;
  font-size: 16px;
  border-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
}
.articles .article-top .article-top-right a i {
  margin-left: 8px;
  font-size: 0.7em;
  transform: rotate(-45deg);
}
.articles .article-top .article-top-right a:hover {
  background-color: #191919;
  border: 1px solid #191919;
  color: #f0efe9;
}
.articles .article-bottom div {
  display: flex;
  align-items: center;
  gap: 15px;
}
.articles .article-bottom div .item {
  display: flex;
  flex-direction: column;
  position: relative;
}
.articles .article-bottom div .item .date-img {
  position: relative;
}
.articles .article-bottom div .item .date-img img {
  -o-object-fit: cover;
     object-fit: cover;
}
.articles .article-bottom div .item .date-img .date {
  position: absolute;
  width: 50px;
  height: 50px;
  background-color: #F9D783;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 10px;
  gap: 2px;
  top: 16px;
  left: 10px;
  right: 0;
  bottom: 0;
}
.articles .article-bottom div .item .date-img .date h4 {
  margin-bottom: 0px;
  font-size: 18px;
  font-weight: 900;
}
.articles .article-bottom div .item .date-img .date p {
  color: #3a3838;
  font-size: 14px;
  font-weight: 500;
}
.articles .article-bottom div .item p {
  font-size: 13px;
  font-weight: 500;
  color: #999;
}
.articles .article-bottom div .item h5 {
  font-size: 18px;
  font-weight: 800;
}
.articles span {
  display: flex;
  gap: 10px;
  justify-content: center;
  margin-top: 1.2rem;
}
.articles span .dot {
  height: 0.6rem;
  width: 0.6rem;
  border-radius: 50%;
  background-color: #000;
  opacity: 0.3;
}
.articles span .dot:first-child {
  opacity: 1;
}

.update {
  background-color: #f0efe9;
  padding: 5rem 10rem;
  margin-top: 3.2rem;
}
.update img {
  position: absolute;
  right: 0%;
  padding-top: 100px;
}
.update div {
  display: flex;
  align-items: center;
}
.update div h2 {
  font-size: 36px;
  font-weight: 800;
  margin-right: 200px;
}
.update div div {
  display: flex;
  gap: 10px;
  align-items: center;
  margin-left: 200px;
}
.update div div input {
  padding: 10px 25px;
  border: none;
  outline: none;
  border-radius: 25px;
  padding-right: 50px;
}
.update div div a {
  background-color: #F9D783;
  border: 1px solid #F9D783;
  color: #191919;
  text-decoration: none;
  padding: 10px 25px;
  font-weight: 300;
  font-size: 16px;
  border-radius: 25px;
  display: flex;
}
.update div div a i {
  margin-left: 8px;
  font-size: 0.7em;
  transform: rotate(-45deg);
}
.update div div a:hover {
  background-color: #191919;
  border: 1px solid #191919;
  color: #f0efe9;
}

footer {
  background-color: #0e0f21;
  padding: 2.4rem 10rem 0rem 10rem;
  overflow-x: hidden;
}
footer .footer-top {
  display: flex;
  align-items: center;
}
footer .footer-top .left {
  flex: 1;
  display: flex;
  flex-direction: column;
}
footer .footer-top .left img {
  margin-bottom: 0px;
  padding: 0px;
  height: 110px;
  width: 135px;
}
footer .footer-top .left p {
  margin-top: 0px;
  padding-top: 0px;
  font-size: 13px;
  font-weight: 500;
  color: #999;
}
footer .footer-top .right {
  flex: 3;
}
footer .footer-top .right img {
  position: absolute;
  right: 0%;
  padding-top: 109px;
}
footer .footer-top .right div {
  display: flex;
  align-items: left;
}
footer .footer-top .right div .item {
  flex: 1;
  display: flex;
  flex-direction: column;
}
footer .footer-top .right div .item h4 {
  font-size: 16px;
  font-weight: 700;
  color: #fff;
}
footer .footer-top .right div .item span {
  display: flex;
  flex-direction: column;
  align-items: left;
  margin-top: 1.3rem;
}
footer .footer-top .right div .item span a {
  margin-bottom: 0.8rem;
  font-size: 13px;
  font-weight: 300;
  color: #999;
  text-decoration: none;
}
footer .footer-bottom hr {
  height: 2px;
  width: 1920px;
  border: 1px solid #9a9a9e;
}
footer .footer-bottom div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer .footer-bottom div p {
  font-size: 13px;
  font-weight: 500;
  color: #999;
}
footer .footer-bottom div .social-media-footer a {
  display: flex;
  margin-right: 15px;
  color: rgba(255, 255, 255, 0.6980392157);
  text-decoration: none;
}